<script>
    import { FluentProvider } from "@nubolab-ffwd/svelte-fluent"
    import { dev } from "$app/environment"
    import { negotiate as generateBundle } from "$lib/translations"

    export let data

    const localizationError = dev ? ({ detail }) => console.warn(detail) : () => {}
</script>

{#await generateBundle(data.userLanguages)}
    <h1 class="text-center">Loading locales...</h1>
{:then bundles}
    <FluentProvider {bundles} on:error={localizationError}>
        <slot />
    </FluentProvider>
{:catch err}
    <pre><code>JSON.stringify(err, undefined, " ".repeat(4))</code></pre>
{/await}
