<script>
    import { onMount, onDestroy } from "svelte"
    import { Localized } from "@nubolab-ffwd/svelte-fluent"

    let configured = false

    let videoPlayer
    let mediaSource
    $: updateState({
        target: videoPlayer ?? { paused: true, currentTime: 0, duration: 0 },
    })
    let isVideo

    const handlers = {
        configureWindow: () => initFunctions(),
        removeSource: () => (mediaSource = null),
        updateSource: ({ isVideo: video, url }) => {
            isVideo = video
            mediaSource = url

            if (videoPlayer) videoPlayer.load()
        },

        mediaSeek: ({ to }) => (videoPlayer.currentTime = to),

        mediaPause: () => videoPlayer?.pause?.(),
        mediaPlay: () => videoPlayer?.play?.(),

        default: ({ id, ...msg }) => console.warn(`Unknown player message ${id}`, msg),
    }

    function updateState({ target }) {
        const { paused, currentTime: progress, duration } = target
        self.opener.postMessage({ id: "videoData", paused, progress, duration })
    }

    async function initFunctions() {
        const { screens, currentScreen } = await self.getScreenDetails()
        const target = screens.find(sc => sc.isExtended && !sc.isPrimary) ?? currentScreen

        console.log(target)

        document.body.requestFullscreen({ screen: target })
    }

    function closeWindow() {
        self.close()
    }

    function receiveMessage({ data: { id }, data }) {
        return (handlers[id] ?? handlers.default)(data)
    }

    function updateConfigStatus() {
        configured = !!self.document.fullscreenElement
    }

    onMount(() => {
        // Avoid leaving the player window open when the playlist was closed
        if (!self.opener) self.close()

        self.opener.addEventListener("unload", closeWindow)
        self.addEventListener("message", receiveMessage, false)
        self.addEventListener("resize", updateConfigStatus)
    })

    onDestroy(() => {
        self.opener.removeEventListener("unload", closeWindow)
        self.removeEventListener("message", receiveMessage, false)
        self.removeEventListener("resize", updateConfigStatus)
    })
</script>
<svelte:head>
    {#if !configured}
        <title>2SMP - Player missing configuration</title>
    {:else}
        <title>2SMP - Player</title>
    {/if}
</svelte:head>

<main class:not-configured={!configured}>
    {#if !configured}
        <button class="configure-button" on:click={initFunctions}>
            <Localized id="configure-player" />
        </button>
    {:else if mediaSource && isVideo}
        <video bind:this={videoPlayer} class="video-player" on:timeupdate={updateState}>
            <source src={mediaSource} />
            <track kind="captions" />
        </video>
    {:else if mediaSource}
        <div class="image-container">
            <img class="fullwidth-image" src={mediaSource} alt="Blurred element" />
            <img class="image-resource" src={mediaSource} alt="Currently playing" />
        </div>
    {/if}
</main>

<style>
    :global(body) {
        margin: 0;
        padding: 0;
    }
    main {
        height: 100vh;
        width: 100vw;
        background-color: #000;
        margin: 0;
    }
    main.not-configured {
        display: flex;
        align-items: center;
    }
    button.configure-button {
        padding: 2vh 2vw;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0 auto;
    }
    .video-player {
        width: 100%;
        height: 100%;
    }
    .image-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: middle;
    }
    .image-container > .fullwidth-image {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: 0;
        filter: blur(30px);
    }
    .image-container > .image-resource {
        max-height: 100vh;
        max-width: 100vw;
        width: auto;
        height: auto;
        object-fit: contain;
        z-index: 1;
    }
</style>
