:root {
    /* =~= Theme Properties =~= */
    --theme-font-family-base: system-ui;
    --theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 6px;
    --theme-rounded-container: 8px;
    --theme-border-base: 1px;
    /* =~= Theme On-X Colors =~= */
    --on-primary: 0 0 0;
    --on-secondary: 255 255 255;
    --on-tertiary: 255 255 255;
    --on-success: 0 0 0;
    --on-warning: 0 0 0;
    --on-error: 255 255 255;
    --on-surface: 255 255 255;
    /* =~= Theme Colors  =~= */
    /* primary | #A5D7E8 */
    --color-primary-50: 242 249 252; /* ⬅ #f2f9fc */
    --color-primary-100: 237 247 250; /* ⬅ #edf7fa */
    --color-primary-200: 233 245 249; /* ⬅ #e9f5f9 */
    --color-primary-300: 219 239 246; /* ⬅ #dbeff6 */
    --color-primary-400: 192 227 239; /* ⬅ #c0e3ef */
    --color-primary-500: 165 215 232; /* ⬅ #A5D7E8 */
    --color-primary-600: 149 194 209; /* ⬅ #95c2d1 */
    --color-primary-700: 124 161 174; /* ⬅ #7ca1ae */
    --color-primary-800: 99 129 139; /* ⬅ #63818b */
    --color-primary-900: 81 105 114; /* ⬅ #516972 */
    /* secondary | #19376D */
    --color-secondary-50: 221 225 233; /* ⬅ #dde1e9 */
    --color-secondary-100: 209 215 226; /* ⬅ #d1d7e2 */
    --color-secondary-200: 198 205 219; /* ⬅ #c6cddb */
    --color-secondary-300: 163 175 197; /* ⬅ #a3afc5 */
    --color-secondary-400: 94 115 153; /* ⬅ #5e7399 */
    --color-secondary-500: 25 55 109; /* ⬅ #19376D */
    --color-secondary-600: 23 50 98; /* ⬅ #173262 */
    --color-secondary-700: 19 41 82; /* ⬅ #132952 */
    --color-secondary-800: 15 33 65; /* ⬅ #0f2141 */
    --color-secondary-900: 12 27 53; /* ⬅ #0c1b35 */
    /* tertiary | #576CBC */
    --color-tertiary-50: 230 233 245; /* ⬅ #e6e9f5 */
    --color-tertiary-100: 221 226 242; /* ⬅ #dde2f2 */
    --color-tertiary-200: 213 218 238; /* ⬅ #d5daee */
    --color-tertiary-300: 188 196 228; /* ⬅ #bcc4e4 */
    --color-tertiary-400: 137 152 208; /* ⬅ #8998d0 */
    --color-tertiary-500: 87 108 188; /* ⬅ #576CBC */
    --color-tertiary-600: 78 97 169; /* ⬅ #4e61a9 */
    --color-tertiary-700: 65 81 141; /* ⬅ #41518d */
    --color-tertiary-800: 52 65 113; /* ⬅ #344171 */
    --color-tertiary-900: 43 53 92; /* ⬅ #2b355c */
    /* success | #84cc16 */
    --color-success-50: 237 247 220; /* ⬅ #edf7dc */
    --color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
    --color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
    --color-success-300: 206 235 162; /* ⬅ #ceeba2 */
    --color-success-400: 169 219 92; /* ⬅ #a9db5c */
    --color-success-500: 132 204 22; /* ⬅ #84cc16 */
    --color-success-600: 119 184 20; /* ⬅ #77b814 */
    --color-success-700: 99 153 17; /* ⬅ #639911 */
    --color-success-800: 79 122 13; /* ⬅ #4f7a0d */
    --color-success-900: 65 100 11; /* ⬅ #41640b */
    /* warning | #EAB308 */
    --color-warning-50: 252 244 218; /* ⬅ #fcf4da */
    --color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
    --color-warning-200: 250 236 193; /* ⬅ #faecc1 */
    --color-warning-300: 247 225 156; /* ⬅ #f7e19c */
    --color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
    --color-warning-500: 234 179 8; /* ⬅ #EAB308 */
    --color-warning-600: 211 161 7; /* ⬅ #d3a107 */
    --color-warning-700: 176 134 6; /* ⬅ #b08606 */
    --color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
    --color-warning-900: 115 88 4; /* ⬅ #735804 */
    /* error | #D41976 */
    --color-error-50: 249 221 234; /* ⬅ #f9ddea */
    --color-error-100: 246 209 228; /* ⬅ #f6d1e4 */
    --color-error-200: 244 198 221; /* ⬅ #f4c6dd */
    --color-error-300: 238 163 200; /* ⬅ #eea3c8 */
    --color-error-400: 225 94 159; /* ⬅ #e15e9f */
    --color-error-500: 212 25 118; /* ⬅ #D41976 */
    --color-error-600: 191 23 106; /* ⬅ #bf176a */
    --color-error-700: 159 19 89; /* ⬅ #9f1359 */
    --color-error-800: 127 15 71; /* ⬅ #7f0f47 */
    --color-error-900: 104 12 58; /* ⬅ #680c3a */
    /* surface | #0B2447 */
    --color-surface-50: 218 222 227; /* ⬅ #dadee3 */
    --color-surface-100: 206 211 218; /* ⬅ #ced3da */
    --color-surface-200: 194 200 209; /* ⬅ #c2c8d1 */
    --color-surface-300: 157 167 181; /* ⬅ #9da7b5 */
    --color-surface-400: 84 102 126; /* ⬅ #54667e */
    --color-surface-500: 11 36 71; /* ⬅ #0B2447 */
    --color-surface-600: 10 32 64; /* ⬅ #0a2040 */
    --color-surface-700: 8 27 53; /* ⬅ #081b35 */
    --color-surface-800: 7 22 43; /* ⬅ #07162b */
    --color-surface-900: 5 18 35; /* ⬅ #051223 */
}
