<script>
    import "@skeletonlabs/skeleton/themes/theme-crimson.css"
    import "@skeletonlabs/skeleton/styles/all.css"
    import "../../app.postcss"

    import { AppShell, AppBar } from "@skeletonlabs/skeleton"
    import { Localized } from "@nubolab-ffwd/svelte-fluent"

    import { player } from "$lib/stores/player.js"

    function openWindow() {
        $player?.close?.()
        const props = {
            resizable: false,
            scrollbars: false,
            fullscreen: 0,
        }

        player.set(
            window.open(
                "/player",
                "windowName",
                Object.entries(props)
                    .map(([k, v]) => `${k}=${v}`)
                    .join(",")
            )
        )
    }
</script>

<AppShell>
    <svelte:fragment slot="header">
        <AppBar>
            <svelte:fragment slot="lead">
                <strong class="text-xl uppercase">2smp</strong>
            </svelte:fragment>
            <svelte:fragment slot="trail">
                <button class="btn variant-filled-primary" on:click={openWindow}>
                    <Localized id="open-window" />
                </button>
            </svelte:fragment>
        </AppBar>
    </svelte:fragment>
    <slot />
</AppShell>
