<script>
    import { Localized } from "@nubolab-ffwd/svelte-fluent"
    import Icon from "mdi-svelte"
    import Playlist from "$lib/components/playlist.svelte"
    import MediaControls from "$lib/components/media-controls.svelte"

    import { mdiClose, mdiOpenInApp } from "@mdi/js"
    import { player } from "$lib/stores/player.js"
    import { supportedExtensions } from "$lib/extensions.js"

    import { onMount, onDestroy } from "svelte"

    let fileHandle
    let elementEntries
    $: elementEntries = findEntries(fileHandle)

    let selectedItem
    $: if ($player) sendToPlayer(selectedItem)

    let videoData

    const collator = new Intl.Collator()
    const handlers = {
        videoData: data => (videoData = data),
        ready: () => sendToPlayer(selectedItem),
    }

    function changeMessages({ data: { id }, data }) {
        handlers[id]?.(data)
    }

    onMount(() => {
        self.addEventListener("message", changeMessages, false)
    })

    onDestroy(() => {
        self.removeEventListener("message", changeMessages, false)
    })

    async function findEntries(directory) {
        if (!directory) return undefined

        const elements = []
        for await (const [filename, element] of directory.entries()) {
            if (element.kind === "directory") {
                elements.push(...(await findEntries(element)))
                continue
            } else if (!supportedExtensions.has(filename.split(".").slice(-1)[0])) {
                continue
            }
            elements.push({
                dir: directory.name,
                filename,
                handle: element,
            })
        }

        return elements
            .sort(({filename: f1}, {filename: f2}) => collator.compare(f1, f2))
    }

    function mediaSeek({ detail }) {
        const to = Number(detail)

        runCommand("mediaSeek", { to })
    }

    function runCommand(id, content = {}) {
        if (!$player) return undefined

        console.log("Sending command ", id)

        const msg = {
            ...content,
            id,
        }

        $player.postMessage(msg)
    }

    async function sendToPlayer(item) {
        if (!item) return stopPlayer()

        const file = await item.handle.getFile()
        const url = URL.createObjectURL(file)

        runCommand("updateSource", { isVideo: item.filename.endsWith(".mp4"), url })
        runCommand("mediaPlay")
    }

    function stopPlayer() {
        runCommand("removeSource")
    }

    async function selectDirectory() {
        fileHandle = await self.showDirectoryPicker()
        $player?.focus?.()
    }

    function clearPlaylist() {
        fileHandle = null
        selectedItem = null
    }
</script>
<svelte:head>
    <title>2SMP - Playlist</title>
</svelte:head>

<main class="flex flex-col gap-2 m-4">
    <h2 class="my-2">
        <Localized id="playlist" />
    </h2>
    <div class="flex gap-2">
        <button class="btn variant-ghost-primary" on:click={selectDirectory}>
            <Icon path={mdiOpenInApp} />
            <span>
                <Localized id="open-directory" />
            </span>
        </button>
        {#await elementEntries then entries}
            {#if entries?.length}
                <button class="btn variant-ghost-warning" on:click={clearPlaylist}>
                    <Icon path={mdiClose} />
                    <span>
                        <Localized id="clear-playlist" />
                    </span>
                </button>
            {/if}
        {/await}
    </div>

    {#await elementEntries}
        <h2 class="text-center">
            <Localized id="loading-playlist" />
        </h2>
    {:then elements}
        {#if elements}
            <div class="card variant-glass-surface">
                <header class="card-header">
                    <Localized id="playlist-elements" args={{ count: elements.length }} />
                </header>
                <section class="p-4">
                    <Playlist {elements} bind:selected={selectedItem} />
                </section>
            </div>
        {/if}
    {/await}
</main>
{#if videoData}
    <section class="sticky bottom-0 left-0 w-screen px-4 py-4 m-0 variant-glass-surface">
        <MediaControls
            isPaused={videoData.paused}
            progress={videoData.progress ?? 0}
            maxDuration={videoData.duration ?? 0}
            on:play={() => runCommand("mediaPlay")}
            on:pause={() => runCommand("mediaPause")}
            on:seek={mediaSeek}
        />
    </section>
{/if}
