<script>
    import { RangeSlider } from "@skeletonlabs/skeleton"
    import Icon from "mdi-svelte"

    import { mdiPlay, mdiPause } from "@mdi/js"
    import { createEventDispatcher } from "svelte"

    export let isPaused = true
    export let progress = 0
    export let maxDuration = 0

    const emit = createEventDispatcher()

    function emitSeek(evt) {
        emit("seek", evt.target.value)
    }
</script>

<section class="flex items-center gap-2">
    <button
        class="btn-icon variant-filled-primary"
        on:click={() => (isPaused ? emit("play") : emit("pause"))}
    >
        <Icon path={isPaused ? mdiPlay : mdiPause} />
    </button>
    <RangeSlider
        disabled={maxDuration === 0}
        class="max-w-full grow"
        name="video-progress"
        min={0}
        max={maxDuration}
        value={progress}
        on:change={emitSeek}
    />
</section>
