<script>
    export let elements
    export let selected
    $: if (!elements.includes(selected)) selected = null

    import Icon from "mdi-svelte"
    import { mdiPlayBox, mdiPlay } from "@mdi/js"
</script>

<nav class="list-nav">
    <ul class="list" role="menu">
        {#each elements as element, idx}
            <li
                role="menuitem"
                tabindex={idx + 10}
                class:!bg-primary-500={element === selected}
                class="cursor-pointer"
                on:click={() => (selected = element)}
                on:keypress={() => (selected = element)}
            >
                <Icon path={element === selected ? mdiPlay : mdiPlayBox} />
                <span>
                    {element.filename}
                </span>
            </li>
        {/each}
    </ul>
</nav>
